// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// color
$mainWhite: #FFF;
$textColor: #000;
$secondaryText: #999;

// font
$mainFont: '';

//spacing
$cardPadding: 10px;
