// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  color: black;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  background-color: #fafafa;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

img {
  display: inline-block;
  vertical-align: middle;
  border-style: none;
  transition: all .15s ease-in-out;
}
