// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

.divisor {
  display: inline-block;
  position: relative;
  margin: 0 20px;
  width: 1px;
  height: 30px;
  background-color: black;
  transition: all .15s ease-in-out;
}

.logo {
  display: inline-block;
  position: relative;
  top: 4px;
}

.align-center {
  align-items: center;
}

.img-rounded {
  border-radius: 50%;
}

.list-style-none {
  list-style: none;
}

@media (max-width: 576px) {
  .flex-space-between--mobile {
    justify-content: space-between;
  }
}
