
// default aside
.aside {
  display: flex;
  flex-direction: column;
  flex: auto;
  position: absolute;
  right: 0;
  width: 100%;
  max-width: 325.5px;
  padding-right: 15px;
  padding-left: 15px;

  &--stick {
    position: fixed;
    width: 100%;
    max-width: 325.5px;
    top: 5rem;
    right: inherit;
    margin-left: 37.8rem;
  }
}

// aside for user
.aside__user {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  &--info {
    display: block;
    margin-left: 1rem;
    margin-bottom: 0;

    > strong {
      font-size: 13px;
      display: block;
      margin-bottom: 0;
      line-height: .8;
    }

    > small {
      font-size: .7rem;
    }
  }
}

.aside-nav__item {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  text-decoration: none;

  &::after {
    content: '\00B7';
    height: 10px;
    margin: 0.25rem;
  }

  &:last-child::after {
    content: '';
  }
}

.aside-nav__link {
  display: inline-block;
  color: #999999;
  line-height: 13px;
  text-decoration: none;
}

.language-select {
  display: inline-block;
  color: #999999;
  cursor: pointer;
}


@media (max-width: 768px) {
  .aside {
    display: none;
  }
}
