
.feed {
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 67%;
  max-width: 67%;
}

@media (max-width: 768px) {
  .feed {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  .feed {
    padding-right: 0;
    padding-left: 0;
  }
}
