// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.form-control {
  display: block;
  width: 100%;
  height: 28px;
  text-align: center;
  border: 1px solid #dbdbdb;
  border-radius: .3rem;
  background-color: #fafafa;
}