
.history {
  border-radius: .3rem;
  margin-bottom: .5rem;
}

.history__header {
  @include flex-content(space-between, center);
  padding: 10px;
}

.history__title {
  font-size: 13px;
  color: #999;
  font-weight: bold;
  user-select: none;
}

.history__subtitle {
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.history__content {
  padding-left: 10px;
  height: 100%;
  max-height: 182px;
  overflow: auto;
}
