// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
  padding: 30px 0;
  display: block;
  position: relative;

  .row {
    justify-content: space-between;
    align-items: center;

    @media (max-width: 576px) {
      justify-content: center;
    }
  }
}

.footer__dev {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 0;

  @media (max-width: 576px) {
    margin-top: 1rem;
  }
}
