// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

.container {
  display: block;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  min-height: 89%;
  max-width: 1010px;
  margin: auto;
}

.row {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

[class*="col-"] {
  padding-right: 15px;
  padding-left: 15px;
}

.col-md-4 {
  flex: 0 0 33.33%;
  max-width: 33.33%;
}

@media (max-width: 576px) {
  .container {
    padding-right: 0;
    padding-left: 0;
  }
}
