// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

.container {
  display: block;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  min-height: 89%;
  max-width: 1010px;
  margin: auto;
}

.row {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-right: -15px;
  padding-left: -15px;
}
